---
layout: default
---

---
layout: default
---

<style>
  /* Remove black bullet markers from top-level CV entries */
  div.cv ul.card-text.list-group.list-group-flush > li.list-group-item {
    list-style-type: none !important;
  }

  div.cv ul.card-text.list-group.list-group-flush > li.list-group-item::marker {
    content: "" !important;
    font-size: 0 !important;
  }

  /* Extra safeguard for timeline-style CV entries */
  div.cv ul.timeline > li {
    list-style-type: none !important;
  }

  div.cv ul.timeline > li::marker {
    content: "" !important;
    font-size: 0 !important;
  }
</style>

{% assign cv_feature_enabled = site.al_folio.features.cv.enabled | default: true %}

{% if site.plugins contains 'al_folio_cv' and cv_feature_enabled %}
  {% al_folio_cv_render %}
{% else %}
  <div class="post">
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-description">CV rendering is unavailable.</p>
    </header>

    <article>
      <p>
        Enable the <code>al_folio_cv</code> plugin and set
        <code>al_folio.features.cv.enabled: true</code> to render this page.
      </p>
    </article>
  </div>
{% endif %}
